[Desktop Entry]
Type=Application
Name=Stremio
GenericName=Media Center
Comment=Watch instantly All The Video Content You Enjoy in One Place
Icon=stremio
TryExec=stremio
Exec=stremio
Categories=AudioVideo;Video;Player;
